//colors
$grey: #ddd;
$dark-grey: #777;
$light-grey: #f9f9f9;
$brand-primary: #5b4681;

//spacing
$wrapper-width: 50rem;
$space: 1.4rem;

//font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

//form inputs
$input-border: $grey;

//boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-box-bg: white;
$boxed-view-width: 24rem;
$boxed-view-padding: 2.4rem;

//button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;

$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

//form inputs
$input-space: $space;

//items
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;