//colors
$grey: #ddd;

//spacing
$space: 1.4rem;

//font sizes
$base-font-size: 1.4rem;

//form inputs
$input-border: $grey;

//boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-box-bg: white;
$boxed-view-width: 24rem;
$boxed-view-padding: 2.4rem;