.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  outline: none;
  padding: $input-space;
  text-transform: uppercase;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--underlined {
  font-weight: 100;
  text-decoration: underline;
  text-transform: initial;
  padding: unset;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  border-radius: .4rem;
  color: $button-pill-color;
  padding: .3rem .8rem;
  margin: 0 (.5 * $space) 0 0;
}

.button--secondary {
  background-color: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}