.title-bar {
  background-color: $brand-primary;
  color: white;
}

.title-bar__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: $space 0;

  * {
    margin: 0
  }
}

.title-bar__title {
  line-height: 1.2;
}